---
- name: Install and promote domain controller(s)
  hosts: domctls
  gather_facts: no
  serial: 1
  collections:
    - ansible.windows

  
  tasks:
    - name: Install ADDS role and management tools
      win_feature:
        name: AD-Domain-Services
        state: present
        include_management_tools: true
      register: feature_install

    - name: Reboot after feature installation if required
      win_reboot:
      when: feature_install.reboot_required
    
    - name: Promote first domain controller and create forest
      win_powershell:
        script: |
          $domainParams = @{
            DomainName = 'example.com'
            DomainNetbiosName = 'EXAMPLE'
            ForestMode = 'Win2025'
            DomainMode = 'Win2025'
            CreateDnsDelegation = $false
            InstallDns = $true
            Force = $true
          }
          $DSRMpassword = ConvertTo-SecureString 'Ex@mpledotcom!!!123' -AsPlainText -Force
          Install-ADDSForest @domainParams -SafeModeAdministratorPassword $DSRMpassword
      when: inventory_hostname == groups['domctls'][0]

    - name: Join domain for additional domain controller(s)
      win_powershell:
        script: |
          Add-Computer -DomainName "example.com" -Restart

    #- name: Promote additional domain controller(s)
    #  win_powershell:
    #    script: |
    #  when: inventory_hostname != groups['domctls'][0]
